.container{
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;

    .card {
        margin: auto;
        overflow: hidden;
        border: none;
        padding: 7px;

        .cardContent {
            width: 100%;
            height: auto;
            box-shadow: 0 0 7px 0px #a09a9a;
            overflow: hidden;

            .cardImage{
                img {
                    width: 100%;
                    overflow: hidden;
                    border-radius:0 0 12px 12px ;
                }                
            }

            .cardText {
                color: #8c4800;
                padding: 17px 12px 0 12px;
                h1 {
                    color: #cf6a07;
                    text-transform: capitalize;
                }
                button{
                    float: right;
                    box-shadow: 0 0 2px 0px red;
                    margin-bottom: 5px;
                    color: #d60909;
                }
            }
        }
    }

}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }