<div class="container">
    <!-- <div class="row" *ng-controller="card">
        <div class="card" *ng-repeat="i in card">
            {{card.ProjectType}}
        </div>
      
    </div> -->
    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12">
        <div class="cardContent">
            <div class="cardImage">
                <img src="../assets/images/card.jpg">
            </div>
            <div class="cardText">
                <h1>coffe</h1>
                <span class="price">price: 12$</span>
                <p>discribtion: mmmmm</p>
                <button mat-button color="warn">Delete</button>
            </div>
        </div>
    </div>
    
</div>


